[submodule "git-dep/shm"]
	path = git-dep/shm
  url = git@github.com:jheo4/shm.git
  branch = flexr
[submodule "git-dep/cmdargs"]
	path = git-dep/cmdargs
	url = git@github.com:jheo4/cmdargs.git
  branch = flexr
[submodule "git-dep/affinity"]
	path = git-dep/affinity
	url = git@github.com:jheo4/affinity.git
  branch = flexr
[submodule "git-dep/demangle"]
	path = git-dep/demangle
	url = git@github.com:jheo4/demangle.git
  branch = flexr
